.page-header
  = link_to new_app_config_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New App config
  %h1 Listing app_configs

= render 'app_configs/config_table', configs: @app_configs