.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Type
        %th Status
        - if defined? server_scope
          %th Linked App
        %th

    %tbody
      - instances.each do |instance|
        = render "plugin_instances/plugin_instance_table_row", instance: instance, app: @app, server: @server, server_scope: defined?(server_scope)