- content_for :header_title do
  Edit host #{@host.name}
- content_for :header_actions do
  = link_to host_path(@host), class: 'btn btn-primary' do
    %span.fa.fa-arrow-left
    Back

= render 'form'
