.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Version
        %th Installed
        %th

    %tbody
      - plugins.each do |plugin|
        %tr
          %td= plugin.name
          %td= plugin.version
          %td= server.has_plugin?(plugin.slug).to_s.humanize
          %td= link_to 'Install', server_plugins_path(server_id: @server.id, slug: plugin.slug), method: :post