.page-header
  = link_to new_server_ssh_key_path(@server.id), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Ssh key
  %h1 Listing ssh_keys

= render 'ssh_key_table', ssh_keys: @ssh_keys