.nested-fields
  .row.m-b-10
    = f.input :name, wrapper_class: "col-md-5", label: false
    = f.input :value, wrapper_class: "col-md-6", label: false
    .col-md-1
      = link_to_remove_association "X", f, class: "btn btn-danger"
