- content_for :header_title do
  Edit app
- content_for :header_actions do
  = link_to server_apps_path(@server), class: 'btn btn-primary' do
    %span.fa.fa-arrow-left
    Back
  = link_to [@server, @app], class: 'btn btn-primary' do
    %span.fa.fa-info
    Show

= render 'form'