%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    %ul.sidebar-menu
      %li{class: ("active" if current_page?(root_path))}
        %a{:href => root_path}
          %i.fa.fa-dashboard
          %span Dashboard
      %li{class: ("active" if current_page?(servers_path))}
        %a{:href => servers_path}
          %i.fa.fa-server
          %span Servers